/***********************************
           GLOBAL
***********************************/

.slipspace-blue {
    color: #2182cd;
}

body.slipspace{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
}

.subtext {
    color: #7e7e7e;
}

/***********************************
               NAV
***********************************/

.slipspace .navbar.navbar-slipspace {
    background-color: white;
    border-bottom: black 1px solid;
    margin-bottom: 0;
}

.slipspace .navbar-slipspace .navbar-brand {
    padding: 7px;
    color: black;
    font-size: 2em;
}

/***********************************
              HERO
***********************************/

.hero-row {
    background-color: #4f7098;
    padding-top: 20px;
}

.hero-row .screenshot{
    width: 560px;
}

.hero-row h1,
.slipspace .hero-row h2 {
    color: white;
    -webkit-font-smoothing: antialiased;
}

.hero-row h1{
    padding-top: 20px;
}

.slipspace .hero-row p {
    padding-bottom: 20px;
    font-size: 1.8em;
    color: white;
}

/***********************************
            FOOTER
***********************************/

.slipspace #footer-section {
    text-align: center;
    padding-top: 20px;
}

/***********************************
           SUBSCRIBE
***********************************/
.subscribe-row {
    padding: 0 20px 0 20px;
    text-align: center;
    background-color: #e9f0f7;
}

#mc_embed_signup {
    max-width: 700px;
    margin: auto;
}

/***********************************
              PERSON
***********************************/
.slipspace .person-row {
    text-align: center;
}

.slipspace .person-row ul{
    margin: auto;
    max-width: 600px;
    margin-bottom: 20px;
}

.slipspace .person-row h2 {
    padding: 20px;
    text-align: center;
    font-weight: lighter;
}

.slipspace .person-row .tab-content {
    color: white;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

.slipspace .person-row .tab-content .container {
    color: white;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 700px;
}

.slipspace .person-row .tab-content h3 {
    font-size: 2.5em;
}

.slipspace .person-row .tab-content p {
    font-size: 1.5em;
    color: #e5e5e5;
}

.slipspace .nav-pills > li.active > a#devpill {
    background-color: #9e2b2b;
}

.slipspace .person-row .tab-content #developers-panel {
    background-color: #9e2b2b;
    padding-top: 40px;
    padding-bottom: 40px;
}

.slipspace .nav-pills > li.active > a#fontlinepill {
    background-color: #6490b3;
}

.slipspace .person-row .tab-content #frontline-staff-panel {
    background-color: #6490b3;
    padding-top: 40px;
    padding-bottom: 40px;
}

.slipspace .nav-pills > li.active > a#ctopill {
    background-color: #b8682d;
}

.slipspace .person-row .tab-content #cto-panel {
    background-color: #b8682d;
    padding-top: 40px;
    padding-bottom: 40px;
}

.slipspace .nav-pills > li.active > a#customerspill {
    background-color: #77547e;
}

.slipspace .person-row .tab-content #customer-panel {
    background-color: #77547e;
    padding-top: 40px;
    padding-bottom: 40px;
}


/***********************************
          DOCUMENTATION
***********************************/
#documentation-header {
    color: white;
    text-align: center;
    background-color: #4f7098;
    padding: 20px;
    margin-bottom: 30px;
}

#documentation-header h1{
    margin: 0;
    padding: 0;
}

.documentation-nav {
    list-style: none;
    background-color: #fafafb;
    border: 1px solid #cccccc;
    padding: 0;
}

.documentation-nav li.item{
    padding: 5px 0 5px 15px;
}

.documentation-nav li.heading {
    font-weight: bold;
}

.documentation-nav .nav {
    padding: 0;
}

.documentation-nav .nav li.spacer {
    height: 2px;
    background-color: #cccccc;
    border: 0;
}

.documentation-nav .nav li {
    border: 1px solid;
    border-right-color: #fafafb;
    border-left-color: #fafafb;
    border-bottom-color: #eee;
    border-top-color: #eee; 
    margin: 0;
}

#net-framework,
#javascript, 
#overview,
#press-releases {
    margin-top: 0;
    padding-top: 0;
}

/***********************************
             PRESS
***********************************/

.press-nav {
    list-style: none;
    background-color: #fafafb;
    border: 1px solid #cccccc;
    padding: 0;
}

.press-nav li.item{
    padding: 5px 0 5px 15px;
}

.press-nav li.heading {
    font-weight: bold;
}

.press-nav .nav {
    padding: 0;
}

.press-nav .nav li.spacer {
    height: 2px;
    background-color: #cccccc;
    border: 0;
}

.press-nav .nav li {
    border: 1px solid;
    border-right-color: #fafafb;
    border-left-color: #fafafb;
    border-bottom-color: #eee;
    border-top-color: #eee; 
    margin: 0;
}

#press-container h3 {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 20px;
    padding-bottom: 0;
}

#press-container h4 {
    margin-top: 0;
    padding-top: 0;
   margin-bottom: 20px;
    padding-bottom: 0;
}

#press-container p {
    line-height: 1.8em;
    font-size: 1.2em;
    padding-bottom: 10px;
}

#press-container a .sub {
    color: lightgray;
    font-style: italic;
}

/***********************************
         DROP DOWN BARS
***********************************/
.slipspace .navbar-toggle .icon-bars-button{
  display: inline-block;
  vertical-align:middle;
}

.slipspace .navbar-toggle .icon-bar {
  margin-bottom:2px;
  display: block;
  width: 22px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 1px;
}

/***********************************
       PRETTY PRINT STYLES
***********************************/

/* Pretty printing styles. Used with prettify.js. */

/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #000 }  /* plain text */

@media screen {
  .str { color: #dd1144 }  /* string content */
  .kwd { color: #008 }  /* a keyword */
  .com { color: #080; font-style: italic; }  /* a comment */
  .typ { color: #606 }  /* a type name */
  .lit { color: #066 }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: #660 }
  .tag { color: #0000ff }  /* a markup tag name */
  .atn { color: #ff0063 }  /* a markup attribute name */
  .atv { color: #080 }  /* a markup attribute value */
  .dec, .var { color: #606 }  /* a declaration; a variable name */
  .fun { color: red }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str { color: #060 }
  .kwd { color: #006; font-weight: bold }
  .com { color: #600; font-style: italic }
  .typ { color: #404; font-weight: bold }
  .lit { color: #044 }
  .pun, .opn, .clo { color: #440 }
  .tag { color: #0000ff; font-weight: bold }
  .atn { color: #ff0063 }
  .atv { color: #060 }
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { background: #eee }